{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "ie": "11"
        },
        "useBuiltIns": "entry",
        "forceAllTransforms": true,
        "corejs": 3
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-object-assign"]
}
