/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/lato-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"),
    url("/static/fonts/lato-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/static/fonts/lato-v16-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/static/fonts/lato-v16-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/static/fonts/lato-v16-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/static/fonts/lato-v16-latin-regular.svg#Lato") format("svg"); /* Legacy iOS */
}

body {
  font-family: Lato;
}

.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.article-header svg {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}

.aside {
  font-size: 0.9rem;
}

/* header animation */

.article-header .dek {
  max-width: 30rem;
  margin: 20rem auto 1rem;
}

.idyll-pub-date,
.byline {
  max-width: 300px;
  margin: auto;
}

.article-header .fancy-text {
  display: block;
  font: 2rem "Lato";
  font-weight: bold;
  width: 100%;
  margin: 0rem auto;
}

.article-header .text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 1px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 21s infinite linear;
}

.article-header .text-copy:nth-child(1) {
  stroke: white;
  animation-delay: -4s;
}

.article-header .text-copy:nth-child(2) {
  stroke: DarkGray;
  animation-delay: -8s;
}

.article-header .text-copy:nth-child(3) {
  stroke: lightgray;
  animation-delay: -12s;
}

.article-header .text-copy:nth-child(4) {
  stroke: whitesmoke;
  animation-delay: -16s;
}

.article-header .text-copy:nth-child(5) {
  stroke: grey;
  animation-delay: -20s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

@media (min-width: 768px) {
  .article-header .text-copy {
    stroke-width: 3px;
  }

  .article-header .fancy-text {
    font-size: 4rem;
  }

  .article-header .fancy-text {
    height: 300px;
    margin: 10rem auto;
  }

  .article-header .dek {
    max-width: 20rem;
    margin: 20rem auto 3rem;
  }
}

@media (min-width: 992px) {
  .article-header .text-copy {
    stroke-width: 4px;
  }

  .article-header .fancy-text {
    font-size: 6rem;
  }

  .article-header .fancy-text {
    height: 300px;
    margin: 10rem auto;
  }

  .article-header .dek {
    max-width: 30rem;
    margin: 10rem auto 3rem;
  }
}

@media (min-width: 1200px) {
  .article-header .text-copy {
    stroke-width: 5px;
  }

  .article-header .fancy-text {
    font-size: 8rem;
  }

  .article-header .fancy-text {
    height: 300px;
    margin: 10rem auto;
  }

  .article-header .dek {
    max-width: 40rem;
    margin: 20rem auto 3rem;
  }
}

/* typeahead */
input[type="radio"] {
  left: -999em;
  position: absolute;
}

label {
  margin-right: 1rem;
  word-break: keep-all;
  hyphens: none;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  border: 0.1rem solid lightgray;
  margin: 0.5rem;

  background-color: grey;
  color: white;
}

#bitte-ein-wort-auswählen + div label {
  /* border: none; */
  background-color: whitesmoke;
  color: black;
}

#bitte-ein-wort-auswählen + div {
  padding-bottom: 2rem;
}

input[type="text"] {
  /* background-color: grey; */
  width: 100%;
  /* color: white; */
  text-align: center;
}

#bitte-ein-wort-auswählen + div,
input[type="text"] + div + div {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

@media (min-width: 768px) {
  img {
    width: 80%;
  }

  img:first-of-type {
    width: 50%;
  }
}

img + em {
  font-size: small;
  text-align: right;
  float: right;
}

h6 {
  color: white;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: 0.5rem solid lightgray;
}

video {
  object-fit: contain;
}

.video-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
